### SBT template
# Simple Build Tool
# http://www.scala-sbt.org/release/docs/Getting-Started/Directories.html#configuring-version-control

target/
web/target
api/target
core/target
lib_managed/
src_managed/
project/boot/
.history
.cache
### Scala template
*.class
*.log

# sbt specific
.lib/
dist/*
project/plugins/project/
project/target

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea/
# Created by .ignore support plugin (hsz.mobi)
